<nav class="navbar dark-background">
    <div class="container">
        <a class="navbar-brand navbar-text" href="#" onclick="window.location.href = window.location.origin;">
            Seth Spire's Coding World
        </a>

        <a class="navbar-brand navbar-text" href="about-me">
            About Me
        </a>

        <div class="dropdown">
            <button class="btn dropdown-toggle account-dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                Account
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><div id="displayAccountBtn" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#displayAccountModal">Display account</div></li>
                <li><div id="deleteAccountBtn" class="dropdown-item">Delete account</div></li>
                <li><div id="logOutBtn" class="dropdown-item">Log out</div></li>
                <li><div class="dropdown-item" data-bs-toggle="modal" data-bs-target="#modifyAccountModal">Modify Account</div></li>
            </ul>
        </div>
    </div>
</nav>

{{>modify_account_modal}}

{{>displayAccountModal}}

<script defer src="/js/account_info.js"></script>