<nav class="navbar dark-background">
    <div class="container">
        <a class="navbar-brand navbar-text" href="#" onclick="window.location.href = window.location.origin;">
            Seth Spire's Coding World
        </a>

        <a class="navbar-brand navbar-text" href="about-me">
            About Me
        </a>

        <a class="navbar-brand navbar-text" href="login">
            Login
        </a>
    </div>
</nav>