<!doctype html>
<html>
<head>
    {{>head}}
</head>

<body>
    {{>navbar_with_login}}

    <main>
        <div class="container">
            <h2>Sorry, this page is not available.</h2>
        </div>
    </main>

    {{>footer}}

</body>

</html>