<!doctype html>
<html>
<head>
    {{>head}}
</head>

<body>
    {{>navbar_with_login}}

    <main>
        <div class="container">
            <img src="images/Home Logo.png" alt="Inverted Cube Logo" class="rounded img-fluid mx-auto d-block" id="HomeLogo">
        </div>
    </main>

    {{>footer}}

</body>

</html>