<!doctype html>
<html>
<head>
    {{>head}}
</head>

<body>
    {{>navbar_no_login}}

    <main>
        <div class="container">
            <h3>Isn't crazy you can reach this page without putting any login info?</h3>
        </div>
    </main>

    {{>footer}}

</body>

</html>