<!doctype html>
<html>
<head>
    {{>head}}
    <script defer src="/js/main.js"></script>
</head>

<body>
    {{>navbar_logged_in}}

    <main>
        <div class="container">
            <h3>Thank you for logging in</h3>
        </div>

        <br>
        
        <div class="container">
            <p id="accountDisplayArea"></p>
        </div>
    </main>

    {{>modify_account_modal}}

    {{>footer}}

</body>

</html>