<!doctype html>
<html>
<head>
    {{>head}}
    <script defer src="/js/main.js"></script>
</head>

<body>
    {{>navbar_logged_in}}

    <main>
        <div class="container">
            <h3>Thank you for logging in</h3>
        </div>

        <br>

        <p id="accountDisplayArea"></p>
    </main>

    {{>footer}}

</body>

</html>