<!doctype html>
<html>
<head>
    {{>head}}
</head>

<body>
    {{>navbar_logged_in}}

    <main>
        <div class="container">
            <div >
                <h3>Welcome!</h3>
            </div>

            <br>

            <div>
                <h4><a href="/tasks">View Tasks Here</a></h4>
            </div>

            <br>
            
            <div>
                <p id="accountDisplayArea"></p>
            </div>
        </div>
    </main>

    {{>footer}}

</body>

</html>